# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
/executer-web/src/main/resources/docker/executer-web.war
executer-api/src/main/resources/
executer-api/src/test/
executer-api/target/
executer-core/target/
executer-utils/target/
executer-web/target/
