<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="dataSourceAspect" class="com.mark.test.framework.core.aop.DataSourceAspect" />
    <bean id="logAspect" class="com.mark.test.framework.core.aop.LogAspect"/>

    <!--<aop:config>-->
        <!--<aop:aspect ref="dataSourceAspect">-->
            <!--&lt;!&ndash; 拦截所有service方法 &ndash;&gt;-->
            <!--<aop:pointcut id="dataSourcePointcut"-->
                          <!--expression="execution(* com.mark.test.framework.*.*(..))"/>-->
            <!--<aop:before pointcut-ref="dataSourcePointcut" method="intercept" />-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>